{% extends 'website/partials/website_base.html' %} 
{% load static %} 

{% block main_content %}
<!-- Header Section Start -->
<header id="home" class="hero-area nav-hero">
  <div class="overlay">
    <span></span>
    <span></span>
  </div>

  {# Navbar #} {% include 'website/partials/website_navbar.html' %}

  <div class="container">
    <div class="row space-100">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="contents">
          <h2>{{ request_institute.name }}</h2>
          <p>
            {% if request_institute.motto %}
              {{ request_institute.motto|safe }}
            {% else %}
              {{ request_institute.description|safe|default:"" }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 p-0">
        <div class="intro-img">
          <img
            src="{% static 'landing/img/home.png' %}"
            alt=""
            style="width: 585px; height: 398px; margin-top: 113px"
          />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->

<!-- Department Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="row justify-content-center">
      {% for dept in departments %}
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
          <div class="services-item text-center">
            <div class="icon">
              {% if dept.department_icon %}
                <img src="{{ dept.department_icon.url }}" alt="{{ dept.name }}">
              {% else %}
                <i class="lni-cog"></i>
              {% endif %}
            </div>
            <h4>{{ dept.name }}</h4>
            <p>
              {{ dept.short_description|default:"" }}
            </p>
          </div>
        </div>
        <!-- End Col -->
      {% endfor %}
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Cool Fetatures Section Start -->

<!-- Cool Fetatures Section End -->

<!-- Blog Section -->

<!-- blog Section End -->

<!-- Contact Us Section -->

<!-- Contact Us Section End -->

{% endblock %}
